/.git*                     export-ignore
/.prettier*                export-ignore
/.spelling                 export-ignore
/composer.*                export-ignore
/bin/                      export-ignore
/docs/                     export-ignore
/php*                      export-ignore
/README.md                 export-ignore
/src/assets/js/thirdparty  export-ignore
/tests/                    export-ignore
package*.json              export-ignore
