/.git*                            export-ignore
/.prettier*                       export-ignore
/bin/                             export-ignore
/docs/                            export-ignore
/intelephense.php                 export-ignore
/php*                             export-ignore
/README.md                        export-ignore
/src/assets/js/rollup.config.mjs  export-ignore
/tests/                           export-ignore
composer.*                        export-ignore
package*.json                     export-ignore
