/.git*             export-ignore
/.prettier*        export-ignore
/.spelling         export-ignore
/composer.*        export-ignore
/bin/              export-ignore
/docs/             export-ignore
/package*.json     export-ignore
/php*              export-ignore
/README.md         export-ignore
/tests/            export-ignore
